 <div class="home-page">


  <div class="container page">
    <div class="row">


      <!-- Main view - contains tabs & article list -->
      <div class="col-md-12">
<!--         
        <input type="text" ng-model="$ctrl.slug">
        <button ng-click="$ctrl.getResult()">Submit</button> -->

        <label class="btn btn-primary">
          <input type="file" id="importFile" on-file-change="$ctrl.fileChanged($event, files)" class="ng-hide">
          <i class="mdi mdi-camera"></i> 
          <span>Tira fotinha</span>										
        </label>									

        <pre>
          {{ $ctrl.result.data }} {{ $ctrl.pairing.name }}
        </pre>

      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
